<div class="app-dialog-header">

    <div class="app-dialog-header__title app-dialog-header__title_uppercase">

        Вход в «Make Perfect»

    </div>

</div>

<div class="app-dialog-social-networks">
    <a [href]="googleAuthorizeUrl" class="app-dialog-social-networks__button app-dialog-social-networks__button_google"
       tabindex="-1"></a>
    <a [href]="vkAuthorizeUrl" class="app-dialog-social-networks__button  app-dialog-social-networks__button_vk"
       tabindex="-1"></a>
    <a [href]="odnoklassnikiAuthorizeUrl"
       class="app-dialog-social-networks__button  app-dialog-social-networks__button_odnoklassniki" tabindex="-1"></a>
</div>


<div class="app-dialog-overlay" *ngIf="isProgressVisible$ | async">

    <div class="app-dialog-overlay__spinner">

        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>

    </div>

</div>

