<div class="app-dialog-header">

    <div class="app-dialog-header__title app-dialog-header__title_uppercase">

        Вход в «Make Perfect»

    </div>

</div>

<div class="app-dialog-social-networks">
    <mat-button-toggle-group #group="matButtonToggleGroup" (change)="networksAuthorization(group.value)">

        <mat-button-toggle [value]="googleAuthorizeUrl" class="app-dialog-social-networks__button app-dialog-social-networks__button_google"></mat-button-toggle>

        <mat-button-toggle [value]="vkAuthorizeUrl" class="app-dialog-social-networks__button  app-dialog-social-networks__button_vk"></mat-button-toggle>

        <mat-button-toggle [value]="odnoklassnikiAuthorizeUrl" class=" app-dialog-social-networks__button app-dialog-social-networks__button_odnoklassniki"></mat-button-toggle>

    </mat-button-toggle-group>
</div>


<div class="app-dialog-overlay" *ngIf="isProgressVisible$ | async">

    <div class="app-dialog-overlay__spinner">

        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>

    </div>

</div>

