.app-dialog {
    background-color: white;
    display: block;
    position: relative;
}

.app-dialog__footer {
    margin-top: 20px;
}

.app-dialog-social-networks {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-bottom: 4px;
}
