.section {
  text-align: center;
  font-size: 3em;
}

.section_1 {
  background: url("../../../../../assets/images/promo1.jpg") center fixed no-repeat;
  background-size: 100%;
}

.registrationBtn {
  background: aliceblue;
}