<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">

    <div class="section">

        <div class="page-container">

            <header class="header">

                <div class="logo">

                    <a>Make Perfect</a>

                </div>

                <div class="log-in">

                    <a class="log-in__cursor">Войти</a>

                </div>

            </header>

            <main class="main-content">

                <div class="typing-text">

                    <span class="typing-text__font">Зарабатывайте на услугах в<br>сфере красоты вместе с<br>Make Perfect</span>

                </div>

                <div class="fibery-sign-in-btn">

                    <div class="sign-in">

                        <button class="sign-in__btn" mat-button (click)="openPerformerRegistrationDialog()">

                            Зарегистрироваться

                        </button>

                    </div>


                </div>

            </main>

        </div>

    </div>

    <div class="section">

        <main class="main-content-page-two">

            <div class="frame">

                <div class="main-content-page-two__title">

                    <span class="main-content-page-two__title_font">

                        Make perfect - это ...

                    </span>

                </div>
                
                <div class="main-content-page-two__image">

                    <div>

                        <img class="main-content-page-two__image_size" src="../../../../../assets/images/exampleProfile.jpg"/>

                    </div>

                </div>

                <div class="main-content-page-two__feedback">

                    <div class="main-content-page-two__feedback_title">

                        <span>... отзывы клиентов</span>

                    </div>

                    <div class="main-content-page-two__feedback_description">

                        <span>

                            Лучшая реклама качественной работы - благодарность<br>
                            клиентов. Если клиенту все понравилось, попросите<br>
                            написать рекомендацию на вашем сайте

                        </span>

                    </div>

                </div>

            </div>

        </main>

    </div>

    <div class="section">Some section3</div>

</div>