<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">

    <div class="section">

        <div class="page-container">

            <header class="header">

                <div class="logo">

                    <a>Make Perfect</a>

                </div>

                <div class="log-in">

                    <a class="log-in__cursor">Войти</a>

                </div>

            </header>

            <main class="main-content">

                <div class="typing-text">

                    <span class="typing-text__font">Зарабатывайте на услугах в<br>сфере красоты вместе с<br>Make Perfect</span>

                </div>

                <div class="fibery-sign-in-btn">

                    <div class="sign-in">

                        <button class="sign-in__btn" mat-button (click)="openPerformerRegistrationDialog()">

                            Зарегистрироваться

                        </button>

                    </div>


                </div>

            </main>

        </div>

    </div>

    <div class="section">Some section2</div>

    <div class="section">Some section3</div>

</div>