@import "../../../../../styles/variables";

$media: screen;

// promo
.app-promo__fond {
  background: linear-gradient(to right, #ee6e9f, #ee8d6c);
  height: 100%;
  position: relative;
}

.app-promo {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 80px;

  @media #{$media} and (max-width: map-get($grid, ml) - 1) {
    padding: 0 30px;
    @media #{$media} and (max-width: map-get($grid, mm) - 1) {
      padding: 0 20px;
    }
  }

}

.app-promo__header {
  display: flex;
  margin: auto 0;
}

.app-promo__main-content {
  display: flex;
  margin: auto 0;
}

.app-promo__action {
  display: flex;
  justify-content: flex-end;
  margin: auto 0;

  @media #{$media} and (max-width: map-get($grid, ts) - 1) {
    justify-content: center;
  }
}

.app-promo__logo {
  display: flex;
  flex: 1;
  font-size: 36px;
  text-transform: uppercase;

  font-family: Proxima Nova Th;
  font-weight: 800;
  color: white;

  @media #{$media} and (max-width: map-get($grid, tl) - 1) {
    font-size: 32px;
    @media #{$media} and (max-width: map-get($grid, ts) - 1) {
      font-size: 28px;
      @media #{$media} and (max-width: map-get($grid, ml) - 1) {
        font-size: 20px;
        @media #{$media} and (max-width: map-get($grid, mm) - 1) {
          font-size: 16px;
        }
      }
    }
  }
}

.app-promo__log-in {
  align-items: center;
  color: white;
  display: flex;
  flex: 1;
  font-family: Proxima Nova Th;
  font-size: 20px;
  font-weight: 800;
  justify-content: flex-end;

  @media #{$media} and (max-width: map-get($grid, ml) - 1) {
    font-size: 16px;
  }
}

.app-promo-log-in__cursor {
  cursor: pointer;
}

.app-promo__typing-text {
  font-size: 84px;
  font-weight: 300;
  line-height: 1.4em;

  @media #{$media} and (max-width: map-get($grid, dm) - 1) {
    font-size: 80px;
    @media #{$media} and (max-width: map-get($grid, ds) - 1) {
      font-size: 60px;
      @media #{$media} and (max-width: map-get($grid, tl) - 1) {
        font-size: 40px;
        @media #{$media} and (max-width: map-get($grid, ts) - 1) {
          font-size: 32px;
        }
      }
    }
  }

}

.app-promo-typing-text__font {
  color: white;
  font-family: Proxima Nova Th;
  font-weight: 800;
}

.app-promo__sign-in {
  background-color: white;
  border-radius: 5px;
}

.app-promo-sign-in__btn {
  color: #ee6e9f;
  font-family: Proxima Nova Th;
  font-weight: 800;
  font-size: 40px;
  padding: 24px 36px;

  @media #{$media} and (max-width: map-get($grid, tl) - 1) {
    font-size: 32px;
    @media #{$media} and (max-width: map-get($grid, ts) - 1) {
      font-size: 28px;
      padding: 12px 30px;
      @media #{$media} and (max-width: map-get($grid, ml) - 1) {
        font-size: 24px;
      }
    }
  }

  &:hover {
    color: #ee8d6c;
  }
  transition: color 0.2s;
}


// page

.app-page {
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 32px 80px;

  @media #{$media} and (max-width: map-get($grid, ts) - 1) {
    padding: 32px 40px;
    @media #{$media} and (max-width: map-get($grid, ml) - 1) {
      padding: 0;
    }
  }
}

.frame {
  border: 10px solid transparent;
  border-image: linear-gradient(to right, #ee6e9f 0%, #ee8d6c 100%) 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.app-page__title {
  margin: 20px 20px auto;
}

.app-page__title_font {
  font-family: Proxima Nova Lt;
  font-weight: 600;
  font-size: 38px;
  @media #{$media} and (max-width: map-get($grid, dm) - 1) {
    font-size: 36px;
    @media #{$media} and (max-width: map-get($grid, ds) - 1) {
      font-size: 32px;
      @media #{$media} and (max-width: map-get($grid, tl) - 1) {
        font-size: 28px;
        @media #{$media} and (max-width: map-get($grid, ts) - 1) {
          font-size: 24px;
        }
      }
    }
  }
}

.app-page__image {
  display: flex;
  justify-content: center;
  margin: auto 20px;
}

.app-page__image_size {
  height: auto;
  width: 100%;
}

.app-page__definition {
  margin: auto 100px auto auto;
  padding: 20px;
  @media #{$media} and (max-width: map-get($grid, tl) - 1) {
    margin: auto 50px auto auto;
    @media #{$media} and (max-width: map-get($grid, ts) - 1) {
      margin: auto 0;
    }
  }
}

.app-page__definition_title {
  font-family: Proxima Nova Lt;
  font-weight: 600;
  font-size: 38px;
  margin: 28px 0;
  @media #{$media} and (max-width: map-get($grid, dm) - 1) {
    font-size: 36px;
    @media #{$media} and (max-width: map-get($grid, ds) - 1) {
      font-size: 32px;
      @media #{$media} and (max-width: map-get($grid, tl) - 1) {
        font-size: 28px;
        @media #{$media} and (max-width: map-get($grid, ts) - 1) {
          font-size: 24px;
        }
      }
    }
  }
}

.app-page__definition_description {
  font-family: Proxima Nova Rg;
  font-weight: normal;
  font-size: 24px;
  @media #{$media} and (max-width: map-get($grid, dm) - 1) {
    font-size: 20px;
    @media #{$media} and (max-width: map-get($grid, ds) - 1) {
      font-size: 16px;
      @media #{$media} and (max-width: map-get($grid, tl) - 1) {
        font-size: 16px;
        @media #{$media} and (max-width: map-get($grid, ts) - 1) {
          font-size: 16px;
        }
      }
    }
  }
}

.link {
  color: #ED7B89;
  cursor: pointer;
  font-weight: 600;
}