<div fullpage id="fullpage" [options]="config" (ref)="getRef($event)">

    <div class="section page_1">

        <div class="app-promo__fond">

            <div class="app-promo">

                <header class="app-promo__header">

                    <div class="app-promo__logo">

                        <a>Make Perfect</a>

                    </div>

                    <div class="app-promo__log-in">

                        <a class="app-promo-log-in__cursor" (click)="openAuthorizationDialog()">Войти</a>

                    </div>

                </header>

                <main class="app-promo__main-content">

                    <div class="app-promo__typing-text">

                        <span class="app-promo-typing-text__font">Зарабатывайте на услугах в<br>
                                                                  сфере красоты вместе с<br>
                                                                  Make Perfect</span>

                    </div>

                </main>

                <div class="app-promo__action">

                    <div class="app-promo__sign-in">

                        <button class="app-promo-sign-in__btn" mat-button (click)="openPerformerRegistrationDialog()">

                            Зарегистрироваться

                        </button>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="section page_2">

        <div class="app-page">

            <div class="frame">

                <div class="app-page__title">

                    <span class="app-page__title_font">

                        Make perfect - это ...

                    </span>

                </div>

                <div class="app-page__image"></div>

                <div class="app-page__definition">

                    <div class="app-page__definition_title">

                        <span>... салон красоты онлайн</span>

                    </div>

                    <div class="app-page__definition_description">

                        <span>

                            Мы привлекаем клиентов и помогаем в развитии личного<br>
                            бренда каждого специалиста.
                            <a class="link" href="#" (click)="openAuthorizationDialog()">Зарегистрируйтесь</a>, чтобы<br>
                            вступить в команду специалистов Make Perfect.

                        </span>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="section page_3">

        <main class="app-page">

            <div class="frame">

                <div class="app-page__title">

                    <span class="app-page__title_font">

                        Make perfect - это ...

                    </span>

                </div>

                <div class="app-page__image"></div>


                <div class="app-page__definition">

                    <div class="app-page__definition_title">

                        <span>... бесплатный сайт за 2 минуты</span>

                    </div>

                    <div class="app-page__definition_description">

                        <span>

                            <a class="link" href="#" (click)="openAuthorizationDialog()">Зарегистрируйтесь</a>
                            и заполните информацию о ваших<br>
                            услугах. На основе указанных данных сформируется сайт<br>
                            с портфолио, прайс-листом и контактами.

                        </span>

                    </div>

                </div>

            </div>

        </main>

    </div>

    <div class="section page_4">

        <main class="app-page">

            <div class="frame">

                <div class="app-page__title">

                    <span class="app-page__title_font">

                        Make perfect - это ...

                    </span>

                </div>

                <div class="app-page__image">

                    <div>

                        <img class="app-page__image_size" src="../../../../../assets/images/exampleProfile.jpg"/>

                    </div>

                </div>

                <div class="app-page__definition">

                    <div class="app-page__definition_title">

                        <span>... отзывы клиентов</span>

                    </div>

                    <div class="app-page__definition_description">

                        <span>

                            Лучшая реклама качественной работы - благодарность<br>
                            клиентов. Если клиенту все понравилось, попросите<br>
                            написать рекомендацию на вашем сайте.

                        </span>

                    </div>

                </div>

            </div>

        </main>

    </div>

    <div class="section page_5">

        <main class="app-page">

            <div class="frame">

                <div class="app-page__title">

                    <span class="app-page__title_font">

                        Make perfect - это ...

                    </span>

                </div>

                <div class="app-page__image"></div>

                <div class="app-page__definition">

                    <div class="app-page__definition_title">

                        <span>... сообщество специалистов</span>

                    </div>

                    <div class="app-page__definition_description">

                        <span>

                            <a class="link" target="_blank" href="https://t.me/joinchat/CDyqxlBtX2FGDYHW74vmHQ">
                                Вступайте в наш канал Telegram</a> и заведите полезные<br>
                            знакомства с профессионалами из вашей сферы.

                        </span>

                    </div>

                </div>

            </div>

        </main>

    </div>

    <div class="section page_6">

        <main class="app-page">

            <div class="frame">

                <div class="app-page__title">

                    <span class="app-page__title_font">

                        Make perfect - это ...

                    </span>

                </div>

                <div class="app-page__image"></div>

                <div class="app-page__definition">

                    <div class="app-page__definition_title">

                        <span>... возможность влиять на проект</span>

                    </div>

                    <div class="app-page__definition_description">

                        <span>

                            <a class="link" target="_blank" href="https://t.me/joinchat/CDyqxlBtX2FGDYHW74vmHQ">
                                В нашем канале Telegram</a> вы можете делиться идеями,<br>
                            как сделать проект еще лучше.

                        </span>

                    </div>

                </div>

            </div>

        </main>

    </div>

</div>
