<div class="app-dialog-header">

    <div class="app-dialog-header__title">

        РЕГИСТРАЦИЯ В КАЧЕСТВЕ МАСТЕРА

    </div>

</div>


<form class="app-dialog-form" [formGroup]="formGroup" (ngSubmit)="onFormSubmit()" autocomplete="off">

    <mat-form-field class="app-dialog-form__field">

        <input matInput placeholder="ваш email" formControlName="emailCtrl">

        <mat-error>

            Введите настоящий email

        </mat-error>

    </mat-form-field>

    <mat-form-field class="app-dialog-form__field">

        <input matInput type="password" placeholder="пароль" formControlName="passwordCtrl">

        <mat-error>Пароль должен состоять минимум из 6 символов</mat-error>

    </mat-form-field>

    <mat-form-field class="app-dialog-form__field">

        <input matInput type="password" placeholder="повторите пароль" formControlName="repeatPasswordCtrl">

        <mat-error>Пароли должны совпадать и состоять минимум из 6 символов</mat-error>

    </mat-form-field>

    <div class="app-dialog-footer app-dialog-form__actions">

        <div class="app-dialog-footer__actions">

            <button mat-raised-button
                    color="primary"
                    [disabled]="formGroup.invalid">

                ЗАРЕГИСТРИРОВАТЬСЯ

            </button>

        </div>

    </div>

</form>

<div class="app-dialog-overlay" *ngIf="isProgressVisible$ | async">

    <div class="app-dialog-overlay__spinner">

        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>

    </div>

</div>

<ng-template #successMessageTemplate>

    <div class="app-dialog">

        <div class="app-dialog-header">

            <div class="app-dialog-header__title app-dialog-header__title_uppercase">

                Спасибо за регистрацию

            </div>

        </div>

        <div>

            На указанный Вами адрес электронной почты

            <br>

            было отправлено письмо с дальнейшими интрукциями.

        </div>

        <div class="app-dialog-footer app-dialog__footer">

            <div class="app-dialog-footer__actions">

                <button mat-raised-button
                        color="primary"
                        (click)="onCloseButtonClick()">

                    Закрыть

                </button>

            </div>

        </div>

    </div>

</ng-template>



