.app-performer-profile__services {
  padding-left: 20px;
}

.app-performer-profile__services-title {

  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}

.app-performer-profile__services-info {

  margin-bottom: 20px;
}

.app-performer-profile__services-item {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.app-performer-profile__services-item-title {
  font-style: italic;
}